<?xml version="1.0"?>
<config>
    <modules>
        <MyModule_FirstModule>
            <version>0.1.0</version>
        </MyModule_FirstModule>
    </modules>
    <frontend>
        <routers>
            <firstmodule>
                <use>standard</use>
                <args>
                    <module>MyModule_FirstModule</module> 
                    <frontName>helloworld</frontName> 
                </args>
            </firstmodule>
        </routers>
        <layout>
            <updates>
                <firstmodule>
                    <file>firstmodule.xml</file>
                </firstmodule>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <firstmodule>
                <class>MyModule_FirstModule_Block</class>
            </firstmodule>
        </blocks>
        <models>
            <firstmodule>
                <class>MyModule_FirstModule_Block</class>
                <resourceModel>firstmodule_resource</resourceModel>
            </firstmodule>
            <firstmodule_resource>
                <class>MyModule_FirstModule_Model_Resource</class>
                <entities>
                    <contact>
                        <table>ai_contact</table>
                    </contact>
                </entities>
            </firstmodule_resource>
        </models>
    </global>
</config>